@font-face {
    font-family: Gilroy;
    src: url("../../public/fonts/Gilroy-ExtraBold.otf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: Gilroy;
    src: url("../../public/fonts/Gilroy-Light.otf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: TenorSans;
    src: url("../../public/fonts/TenorSans-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}